<br />
<br />
<div class="Container row">
    <div class="col-12 text-center"
    <h2 class="text-primary text-center">¡La orden ha sido exitosa!</h2>
    <br />
    <br />
    <img src="~/img/success.png" width="25%"/>
</div>
<h3 class="col-12 text-center" style="color:darkred">

    Gracias por su compra. Por favor vuelva pronto!!!
</h3>

</div>
